* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 20px;
  max-width: 350px;
  box-shadow: 10px 10px var(--black);
  border: 1px solid var(--black);
}

.avatar p {
  color: var(--grey);
}

.card-img img {
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

button {
  max-width: fit-content;
  border: none;
  border-radius: 5px;
  padding: .5rem 1.25rem;
  background: var(--yellow);
  font-weight: 600;
  color: var(--black);
}

p:nth-of-type(1) {
  color: var(--black);
}

.card-body p, button, h2, p:nth-of-type(2), .card-img {
  margin-bottom: 1rem;
}

h2:hover {
  cursor: pointer;
  color: var(--yellow);
}

p:nth-of-type(2) {
  color: var(--grey);
  line-height: 1.5;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 40px;
  margin-right: 1rem;
}

.avatar p {
  color:var(--black);
  font-weight: 600;
}

.attribution {
  margin-top: 2rem;
}
